/* body {
    min-height: 100vh;
    display: flex;
    background-color: aquamarine;
} */
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
}
.sidebar a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #495057;
}
.content {
    flex: 1;
    padding: 20px;
}

.dataTables_filter {
    margin-bottom: 15px; /* Add spacing below the search box */
}